/* v1: Landing Page Only
 * user-login refers to the button that users will click to redirect to the sign in page.
 * admin-login refers to the button that the admin will use to get to admin log in.
 * landing_page helps center everything else
 */
 .landing_page {
  margin-top: 20%;
  margin-bottom: 20%;
}

#user-login {
  display: flex;
  background-color: goldenrod;
  border-color: black;
  border-style: solid;
  border-radius: 2pc;
  border-width: .25pc;
  vertical-align: center;
  width: 20pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#admin-login {
  display: flex;
  background-color: goldenrod;
  border-color: black;
  border-style: solid;
  border-radius: 2pc;
  border-width: .25pc;
  vertical-align: bottom;
  width: 20pc;
  margin-right: auto;
  justify-content: center;
}