/* v1: Landing Page Only
 * user-login refers to the button that users will click to redirect to the sign in page.
 * admin-login refers to the button that the admin will use to get to admin log in.
 * landing_page helps center everything else

 * Reminder: .(word) are classes (.class) (for div). #(word) are ids (#ID).
 */

/* CSS For All Pages*/
.textField{
    width:10.75pc;
    border: none;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 5%;
    background-color: black;

    border-radius: 5px;
    vertical-align: center;
    justify-content: center;
    color: #C8B362;
    height: 38px;
    font-size: 20px;
}

.textField::placeholder{
    color: #C8B362;
    opacity: 0.4;
}

#remember_login{
    margin-left: 10%;
    display: flex;
    background-color: black;
    padding-top: 5px;
    width: 190px;
    border-style: solid;
    border-width: .25pc;
    border-radius: 5px;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: sans-serif;
    font-size:20px;
    height: 30px;
    color: #C8B362;
    text-decoration: none;
    border: none;
}

#login{
    display: flex;
    background-color: black;
    width: 90px;
    border-style: solid;
    border-width: .25pc;
    border-radius: 5px;
    vertical-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    justify-content: center;
    font-family: sans-serif;
    font-size:20px;
    height: 30px;
    padding-top: 5px;
    color: #C8B362;
    text-decoration: none;
    border: none;
    text-decoration-color: #C8B362;
    
}

#login:hover{
    background-color: #C8B362;
    color: black;
}

#register{
    display: flex;
    background-color: black;
    width: 90px;
    border-style: solid;
    border-width: .25pc;
    border-radius: 5px;
    vertical-align: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: sans-serif;
    font-size:20px;
    height: 30px;
    padding-top: 5px;
    color: #C8B362;
    text-decoration: none;
    border: none;
}

#register:hover{
  background-color: #C8B362;
  color: black;
}

 /* Landing Page CSS */
#landing_page {
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
}

#userLoginButton{ 
  display: flex;
  background-color: black;
  border-style: solid;
  border-width: .25pc;
  border-radius: 5px;
  vertical-align: center;
  width: 25pc;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #C8B362;
  text-decoration: none;
  border: none;
  font-size: 50px;
  text-align:center;
}

#userLoginButton:hover{
  background-color: #C8B362;
  color: black;
}

#adminLoginButton{
  opacity: .1;
  display: flex;
  background-color: black;
  border-style: solid;
  border-width: .25pc;
  border-radius: 5px;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #C8B362;
  text-decoration: none;
  border: none;
}

#adminLoginButton:hover{
    background-color: #C8B362;
    color: black;
    opacity: 1;
}


 /* userLogin.html CSS */
#user_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#user_login_form{
    background-color: black;
    vertical-align: center;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: .75pc;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
}

#user_login_form{
    background-color: black;
    vertical-align: center;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: .75pc;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
    background:none;
    border:none;
}

 /* adminLogin.html CSS */
#admin_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#admin_login_form{
    border-radius: 25px;
    vertical-align: center;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
}

/* adminDashboard.html CSS */
#admin_dashboard_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    justify-content: center;
    vertical-align: center;
}

#dashboard{
    color: #C8B362;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60pc;
    height: 35pc;
}

#welcomeUserMsg{
    text-decoration: underline;
    justify-content: center;
    width: 275px;
    vertical-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 340px;
    margin-right: 142px;
}

table, th, td {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 280px;
    color: black;
    border: 1px solid black;
}


/* Image to Image CSS */
#imgtoimgBody{
    background-color: white;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#image{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;

}
#pressButton{
  display: flex;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}