/* v1: Landing Page Only
 * user-login refers to the button that users will click to redirect to the sign in page.
 * admin-login refers to the button that the admin will use to get to admin log in.
 * landing_page helps center everything else

 * Reminder: .(word) are classes (.class) (for div). #(word) are ids (#ID).
 */

/* CSS For All Pages*/
.textField{
    width:10pc;
}

 /* Landing Page CSS */
#landing_page {
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
}

#userLoginButton{ 
  display: flex;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: .25pc;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: white;
  text-decoration: none;
}

#userLoginButton:hover{
  background-color: white;
  color: black;
  border-color: black;
}

#adminLoginButton{
  opacity: .1;
  display: flex;
  background-color: black;
  border-color: white;
  border-style: solid;
  border-width: .25pc;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: white;
  text-decoration: none;
}
#adminLoginButton:hover{
    background-color: white;
    color: black;
    border-color: black;
    opacity: 1;
}


 /* userLogin.html CSS */
#user_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#user_login_form{
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: .25pc;
    vertical-align: center;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
}



 /* adminLogin.html CSS */
#admin_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#admin_login_form{
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: .25pc;
    vertical-align: center;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
}


/* adminDashboard.html CSS */
#admin_dashboard_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
}

#dashboard{
    background-color: gray;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    justify-content: center;
    width: 60pc;
    height: 35pc;
}

table, th, td {
  border: 1px solid black;
}
