/* v1: Landing Page Only
 * user-login refers to the button that users will click to redirect to the sign in page.
 * admin-login refers to the button that the admin will use to get to admin log in.
 * landing_page helps center everything else

 * Reminder: .(word) are classes (.class) (for div). #(word) are ids (#ID).
 */

/* CSS For All Pages*/
.body
{
    /*background: url("../images/backgroundphoto1.jpg");*/
    background-color: gray;
    background-size: cover;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
} 

.body_content
{
    color: #6C2037;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60pc;
    justify-content: center;
    vertical-align: middle;
    height: 35pc;
}

table, th, td 
{
background-color: white;
border-radius: 5px;
margin-top: 10px;
margin-left: 280px;
color: black;
border: 1px solid black;
}  

.textField{
    width:10.75pc;
    border: none;
    margin-bottom: 5%;
    background-color: #6C2037;
    border-radius: 5px;
    color: #F0C975;
    height: 38px;
    font-size: 20px;
}

.textField::placeholder{
    color: #F0C975;
    opacity: 0.5;
}
#remember_box{
    margin-bottom: 0px;
    margin-right: 5px;
    margin-top: 2px;
    margin-left: 0px;
    height: 18px;
}
#remember_text{
    font-family: sans-serif;
    font-size: 19px;
    color: #F0C975;
}
#remember_login{
    margin-left: 10%;
    display: flex;
    background-color: #6C2037;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: .25pc;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 23px;
    text-decoration: none;
    border: none;
}

#login{
    width: 90px;
    cursor: pointer;
    margin-bottom: 5%;
    font-family: sans-serif;

    display: flex;
    background-color: #6C2037;
    padding-top: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 34px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    color: #F0C975;
}

#login:hover{
    background-color: #F0C975;
    color: #6C2037;
}

#register{
    display: flex;
    background-color: #6C2037;
    width: 90px;
    border-style: solid;
    border-width: .25pc;
    border-radius: 5px;
    vertical-align: middle;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: sans-serif;
    font-size:20px;
    height: 30px;
    padding-top: 5px;
    color: #F0C975;
    text-decoration: none;
    border: none;
}

#register:hover{
  background-color: #F0C975;
  color: #6C2037;
}
