/* v1: Landing Page Only
 * user-login refers to the button that users will click to redirect to the sign in page.
 * admin-login refers to the button that the admin will use to get to admin log in.
 * landing_page helps center everything else

 * Reminder: .(word) are classes (.class) (for div). #(word) are ids (#ID).
 */

/* CSS For All Pages*/
.textField{
    width:10.75pc;
    background-color: white;
    color: black;
    margin-bottom: 5%;
    border: none;
}
#remember_me{
    vertical-align: center;
}
#login{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 10pc;
}
#login:hover{
    background-color: #C8B362;
}
#remember_login{
    margin-left: 10%;
}


 /* Landing Page CSS */
#landing_page {
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
}

#userLoginButton{ 
  display: flex;
  background-color: black;
  border-style: solid;
  border-width: .25pc;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #C8B362;
  text-decoration: none;
  border: none;
}

#userLoginButton:hover{
  background-color: #C8B362;
  color: black;
}

#adminLoginButton{
  opacity: .1;
  display: flex;
  background-color: black;
  border-style: solid;
  border-width: .25pc;
  vertical-align: center;
  width: 19pc;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #C8B362;
  text-decoration: none;
  border: none;
}
#adminLoginButton:hover{
    background-color: #C8B362;
    color: black;
    opacity: 1;
}


 /* userLogin.html CSS */
#user_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#user_login_form{
    background-color: black;
    vertical-align: center;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: .75pc;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.{
    color: black;
    background-color: white;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: .75pc;
}
#login_button:hover{
    background-color: #C8B362;
    color: black;
    border-color: black;
}



 /* adminLogin.html CSS */
#admin_login_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    margin-top: 20%;
    margin-bottom: 20%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#admin_login_form{
    background-color: black;
    border-radius: 25px;
    border-color: black;
    border-style: solid;
    border-width: .75pc;
    vertical-align: center;
    width: 11pc;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    color: white;
    text-decoration: none;
}


/* adminDashboard.html CSS */
#admin_dashboard_body{
    background: url("../images/backgroundphoto1.jpg");
    background-size: cover;
    justify-content: center;
    vertical-align: center;
}

#dashboard{
    color: #C8B362;
    background-color: black;
    border-radius: 50px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60pc;
    height: 35pc;
}
#welcomeUserMsg{
    justify-content: center;
    width: 275px;
    vertical-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 340px;
    margin-right: 142px;
}

table, th, td {
    margin-top: 10px;
    margin-left: 300px;
    color: #C8B362;
    border: 1px solid #C8B362;
}
